<script>
	import Navbar from './shared/Navbar.svelte'
	import Card from './shared/Card.svelte'
	import Button from './shared/Button.svelte'
	import LoginForm from './forms/LoginForm.svelte'

	export let user = {}
</script>


<div class="wrapper">

	{#if user && user?.identifier}
		<Navbar />

		<div class="card mt-12 w-full bg-base-100 border border-slate-50 shadow-xl">
			<div class="card-body">
				<h2 class="text-2xl font-bold font-sans">Welcome to our website</h2>
			</div>
		</div>

		<div class="content mt-12 grid grid-cols-1 md:grid-cols-2 gap-4">
			<Card>
				<h2 slot="title" class="font-sans font-bold text-2xl">Apply for a scholarship</h2>
				<Button slot="button" class="btn-outline btn-primary">Apply</Button>
			</Card>
			<Card>
				<h2 slot="title" class="font-sans font-bold text-2xl">View previous applications</h2>
				<Button slot="button" class="btn-outline btn-primary">View</Button>
			</Card>
		</div>
	{:else}
		<h1>Login form</h1>
		<LoginForm />
	{/if}
</div>

<style lang="postcss" global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	.wrapper {
		min-height: 60vh;
	}
</style>
