<script>
	import {createEventDispatcher} from 'svelte'

	const dispatch = createEventDispatcher()

	let errorMsg = false
	let data = {
		user_login: '',
		user_password: '',
		website: '',
		remember: false,
	}

	$: disabled = (data.user_login && data.user_password) ? '' : 'disabled';

	function submitForm(token) {
		if (data.website) return

		if (data.user_login && data.user_password) {
			data.token = token

			fetch( `/wp-json/wpsm/v1/authentication/login`, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-WP-Nonce': window?.svelteData?.rest_nonce || '00000000',
					},
					body: JSON.stringify( data ),
				} 
			)
			.then( async ( res ) => {
					const { data: _data } = await res.json()					

					if (_data.logged_in) {
						data.user_login = '';
						data.user_password = '';
						window.location.reload(true)
					}
				}
			)
		}
	}

	function verifyForm() {
		if (typeof window.grecaptcha !== 'undefined') {
			window.grecaptcha.ready(function() {
				window.grecaptcha.execute(window.ucOptions.recaptcha_site_key, {action: 'uc_login'})
				.then(function(token) {
					submitForm(token)
				});
			});
		} else { // reCaptcha is disabled
			submitForm(null)
		}
	}
</script>

<div class=" card m-auto p-6 w-2/3 uc-login-form bg-base-100 border border-slate-50 shadow-xl">
	<form action="/">
		<div class="form-control w-full">
			<label class="label" for="_username">
				<span class="label-text">Identifier</span>
			</label>
			<input type="text" id="_username" class="input input-bordered w-full" bind:value={data.user_login}>
		</div>
		<div class="form-control w-full mb-8">
			<label class="label" for="_password">
				<span class="label-text">Password</span>
			</label>
			<input type="password" id="_password" class="input input-bordered w-full" bind:value={data.user_password}>
		</div>
		<div class="form-control mb-4">
			<div class="flex flex-row items-center col1">
				<div class="basis-1/2">
					<button class="btn btn-primary submit" on:click|preventDefault={verifyForm} {disabled}>Login</button>
				</div>
				<div class="basis-1/2 flex justify-end items-center">
					<input type="checkbox" class="checkbox checkbox-primary mr-2" id="_remember" bind:checked="{data.remember}">
					<label for="_remember">Remember me</label>
				</div>
				<input type="hidden" id="_website" bind:value={data.website}>
			</div>
		</div>
		<div class="form-control">
			<span class="text-sm text-right cursor-pointer forgot" on:click={() => dispatch('forgot', {})}>Forgot my password</span>
		</div>
	</form>
</div>
