<script>
	let className;

	// creates a `class` property, even
	// though it is a reserved word
	export { className as class }
</script>

<button class="btn {className}">
	<slot>
		Apply Now
	</slot>
</button>
