<script>
	import Button from './Button.svelte'
</script>

<div class="card w-full bg-base-100 border border-slate-50 shadow-xl">
	<div class="card-body">
		<slot name="title">
			<h2 class="card-title">Card title!</h2>
		</slot>
		<slot name="content">
			<p>If a dog chews shoes whose shoes does he choose?</p>
		</slot>
		<div class="card-actions justify-end">
			<slot name="button">
				<Button class="btn-outline btn-secondary">Signup</Button>
			</slot>
		</div>
	</div>
</div>
