<script>
	export let identifier = 'X000-Y00000'
</script>

<div class="navbar bg-base-100 border border-slate-50 shadow-lg rounded">
	<div class="flex-1">
			<p class="font-semibold normal-case text-xl">{identifier}</p>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal p-0">
			<li tabindex="0">
				<a href="https://wpsm.local/">
					Profile
					<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
				</a>
				<ul class="p-2 bg-base-100 z-10">
					<li><a href="https://wpsm.local/">Notifications</a></li>
					<li><a href="https://wpsm.local/">Settings</a></li>
				</ul>
			</li>
			<li><a href="https://wpsm.local/">Logout</a></li>
		</ul>
	</div>
</div>
